<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taskify - Home</title>
  <link rel="stylesheet" href="/src/styles/base.css">
  <link rel="stylesheet" href="/src/styles/home.css">
</head>
<body>
  <!-- Header -->
  <header class="navbar">
    <div class="logo">Taskify</div>
  </header>

  <!-- Main -->
  <main class="home-container">
    <div class="home-left">
      <h1 class="home-title">Taskify</h1>
      <p class="home-text">
        Taskify is a web application that provides the user an easy and accesible way to manage its tasks using a kanban system
      </p>
      <div class="home-buttons">
        <a href="#/login" class="btn">Login</a>
        <a href="#/register" class="btn btn-secondary">Sign Up</a>
      </div>
    </div>

    <div class="home-right">
      <img src="/src/assets/img/logoPI.jpg" alt="Taskify Logo">
    </div>
  </main>
</body>
</html>
