<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login</title>
  <link rel="stylesheet" href="/src/styles/login.css">
</head>
<body>
  <div class="frame">
    <div class="auth-shell">
      
      <aside class="panel-image">
        <div class="image-box">
          <img id="registerLogo" alt="Logo">
        </div>
      </aside>

      
      <section class="panel-form">
        <h2>Login</h2>

        <form id="loginForm">
          <div class="field">
            <input type="email" id="email" placeholder="Email" required />
          </div>
          <div class="field">
            <input type="password" id="password" placeholder="Password" required />
          </div>

          <button type="submit" id="loginBtn" class="btn" disabled>Login</button>

          <p id="loginMsg" class="feedback" aria-live=""></p>         

          <div class="links">
            <span><a href="#/recover">Forgot Password</a></span>
            <span style="color:#6f6f6f">
              Don't have an account?
              <a href="#/register" style="color:#6f6f6f">Register here</a>
            </span>
          </div>
        </form>
      </section>
    </div>
  </div>
</body>
</html>
