<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login</title>
  <!-- <link rel="stylesheet" href="../styles/login.css"> -->
</head>
<body>
  <div class="frame">
    <div class="auth-shell">
      
      <aside class="panel-image">
        <div class="image-box">
          <img src="/assets/img/logoPI.jpg" alt="Taskify Logo">
        </div>
      </aside>

      
      <section class="panel-form">
        <h2>Login</h2>

        <form id="loginForm">
          <div class="field">
            <input type="email" id="email" placeholder="Email" required />
          </div>
          <div class="field">
            <input type="password" id="password" placeholder="Password" required />
          </div>

          <button type="submit" class="btn">Login</button>

          <div class="links">
            <span><a href="recover.html">Forgot Password</a></span>
            <span style="color:#6f6f6f">
              Don't have an account?
              <a href="register.html" style="color:#6f6f6f">Register here</a>
            </span>
          </div>
        </form>
      </section>
    </div>
  </div>
</body>
</html>
