<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login</title>
  <link rel="stylesheet" href="/src/styles/login.css">
</head>
<body>
  <div class="frame">
    <div class="auth-shell">
      
      <aside class="panel-image">
        <div class="image-box">
          <img id="registerLogo" alt="Logo">
        </div>
      </aside>

      
      <section class="panel-form">
        <h2>Login</h2>

        <form id="loginForm">
          <div class="field">
            <input type="email" id="email" placeholder="Email" required />
          </div>
          <div class="field">
            <input type="password" id="password" placeholder="Password" required />
          </div>

          <button type="submit" id="loginBtn" class="btn" disabled>Login</button>

          <p id="loginMsg" class="feedback" aria-live=""></p>         

          <div class="links">
            <span><a href="#/recover">Forgot Password</a></span>
            <span style="color:#6f6f6f">
              Don't have an account?
              <a href="#/register" style="color:#6f6f6f">Register here</a>
            </span>
          </div>
        </form>
      </section>
    </div>
  </div>
  <footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <div class="logo-circle">
        <img src="/src/assets/img/logoPI.jpg" alt="Taskify Logo" loading="lazy">
      </div>
      <h3>Taskify</h3>
      <p>Organiza tus tareas de manera simple y eficaz.</p>
    </div>
    <div class="footer-sitemap">
      <h4>Mapa del Sitio</h4>
      <div class="sitemap-columns">
        <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/login" class="active">Login</a></li>
          <li><a href="#/dashboard">Dashboard</a></li>
          <li><a href="#/add-task">Add Task</a></li>
        </ul>
        <ul>
          <li><a href="#/edit-task">Edit Task</a></li>
          <li><a href="#/recover-password">Recover Password</a></li>
          <li><a href="#/change-password">Change Password</a></li>
          <li><a href="#/signup">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 Taskify. Todos los derechos reservados.</p>
  </div>
</footer>
</body>

</html>
