<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
  <div class="frame">
    <div class="auth-shell">
    
      <section class="panel-form">
        <h2>Sign Up</h2>

        <form id="registerForm">
          <div class="field">
            <input type="text" id="name" placeholder="Name" required>
          </div>
          <div class="field">
            <input type="text" id="lastname" placeholder="Last Name" required>
          </div>
          <div class="field">
            <input type="number" id="age" placeholder="Age" min="0" max="90" required>
          </div>
          <div class="field">
            <input type="email" id="email" placeholder="Email" required>
          </div>
          <div class="field">
            <input type="password" id="password" placeholder="Password" required>
          </div>
          <div class="field">
            <input type="password" id="confirm" placeholder="Confirm Password" required>
          </div>

          <button type="submit" class="btn">Sign Up</button>

          <div class="links">
            <a href="#/login">Back to Login</a>
          </div>
        </form>
      </section>

      
      <aside class="panel-image">
        
        <div class="image-box">
          
           <img src="../assets/img/logoPI.jpg" alt="Register side">
        
        </div>
      </aside>
    </div>
  </div>
</body>
</html>
